.prefs-select {
    display: flex;
    justify-content: space-between;
    width: 100%;

    // &__title {

    // }

    &__value {
        border: none;
        background: none;
        border-radius: 5px;
        text-align: right;
    }
}