.main {
    flex-shrink: 1;
    flex-grow: 1;

    .container {
        max-width: 1500px !important;
    }

    &__row {
        display: flex;
    }

    &__top {
        margin-top: 89px;
        margin-bottom: 68px;
    }

    &__description {
        margin-top: 68px;
        margin-bottom: 154px;
    }

    &__slogan {
        display: flex;
        align-items: center;
        justify-content: start;
        flex-grow: 1;
    }

    &__messenger {
        width: 32%;
        margin-right: 3vw;
        /*border: 1px solid black;*/
        border: 1px solid rgba(0, 0, 0, 0.1);
    }

    &__widgets {
        width: 67%;
        border: 1px solid rgba(31, 110, 228, 0.5);
    }

    &__popup-message {
        font-size: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid gray;
        position: fixed;
        background: #fff;
        top: -2px;
        width: 400px;
        left: calc(50% - 200px);
        border-radius: 0 0 5px 5px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
}

.slogan {
    font-size: 28px;
    font-weight: 400;
}

.description {
    width: 100%;
    height: 290px;
    background: #d9d9d9;
    padding: 11px 34px;
    font-size: 12px;
    font-weight: normal;

    &__title {
        margin-bottom: 18px;
    }
}

.messenger {

    &__row {
        display: flex;
    }

    &__userrow {
        display: flex;
        flex-direction: column;
    }

    &__button {
        width: 33.3333%;
        height: 35px;
        background: #D9D9D9;
        border: 1px solid rgba(31, 110, 228, 0.5);
        border-radius: 3px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 4px;
    }

    &__user {
        margin-top: 30px;
        display: flex;
    }

    &__avatar {
        background: #D9D9D9;
        border-radius: 10px;
        height: 53px;
        width: 53px;
        margin-left: 5px;
    }

    &__info {
        display: block;
        margin-top: 5px;
        margin-left: 15px;
        width: 75%;
    }

    &__username {
        display: flex;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 15px;
    }

    &__online {
        width: 10px;
        height: 10px;
        margin-top: 3px;
        margin-left: 10px;
        background: rgba(37, 202, 34, 0.66);
        border-radius: 5px;
    }

    &__last-message {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        height: 70%;
    }
}

// .profiles {

//     &__row {
//         display: flex;
//         margin-bottom: 35px;
//     }

//     &__card {
//         display: block;
//         margin-right: 3vw;
//         border: 1px solid rgba(0, 0, 0, 0.1);
//         filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
//         border-radius: 3px;
//     }

// }

// .card {

//     &__photo {

//     }

//     &__photo img {
//         height: 210px;
//         width: 150px;
//         object-fit: cover;
//         border-radius: 5px;
//     }

//     &__info {
//         margin-top: 8px;
//         margin-left: 10px;
//     }

// }

// .info {

//     &__nickname {
//         display: flex;
//         font-family: 'Inter';
//         font-style: normal;
//         font-weight: 600;
//         font-size: 16px;
//         line-height: 15px;
//     }

//     &__online {
//         width: 10px;
//         height: 10px;
//         margin-top: 3px;
//         margin-left: 10px;
//         background: rgba(37, 202, 34, 0.66);
//         border-radius: 5px;
//     }

//     &__location {
//         margin-top: 7px;
//         font-family: 'Inter';
//         font-style: normal;
//         font-weight: 400;
//         font-size: 10px;
//         line-height: 8px;
//     }

//     &__last-visit {
//         margin-top: 7px;
//         margin-bottom: 5px;
//         font-family: 'Inter';
//         font-style: normal;
//         font-weight: 400;
//         font-size: 10px;
//         line-height: 8px;
//     }

// }
