* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: inherit;
  font-weight: inherit;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 2px;
}

.header {
  background: #e4e4e4;
  width: 100%;
  height: 98px;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
  }

  &__logo {
    background: #cecece;
    width: 164px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__menu {
    flex-shrink: 1;
    flex-grow: 1;
    margin-right: 54px;
  }

}

.menu {
  display: flex;
  list-style: none;
  justify-content: end;
  gap: 54px;

  &__item {
    width: 122px;
    height: 46px;
    background: #cecece;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.user-control {
  display: flex;
  list-style: none;
  font-size: 7px;
  width: 182px;
  justify-content: space-between;

  &__item {
    width: 46px;
    height: 46px;
    background: #cecece;
    font-size: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.main {
  flex-shrink: 1;
  flex-grow: 1;

  &__row {
    display: flex;
  }

  &__top {
    margin-top: 89px;
    margin-bottom: 68px;
  }

  &__description {
    margin-top: 68px;
    margin-bottom: 154px;
  }

  &__slogan {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-grow: 1;
  }

}

.slogan {
  font-size: 28px;
  font-weight: 400;
}

.authentication {
  width: 299px;
  height: 332px;
  background: #d9d9d9;

  display: flex;
  flex-direction: column;

  &__options {
    display: flex;

    border-bottom: 1px solid #5302FF;
  }

  &__option {
    width: 50%;
    height: 45px;
    border: none;
    background: inherit;
    position: relative;

    &:first-child {
      border-right: 1px solid #5302FF;
    }

    &::before {
      content: '';
      display: block;
      position: absolute;
      width: 0;
      height: 0;
      bottom: -12px;
      left: calc(50% - 7px);

      border-top: 11px solid #c9c7e3;
      border-right: 7px solid transparent;
      border-left: 7px solid transparent;
    }
  }

  &__widget {
    padding: 26px 20px 30px;
    flex-grow: 1;
  }
}

.quiz {
  display: flex;
  flex-direction: column;
  height: 100%;

  &__title {
    font-size: 12px;
  }

  &__question {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__strrow {
    width: 113px;
    height: 34px;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__option {
    border: none;
    background: #c0c0c0;
  }

  &__description {
    font-size: 9px;
  }

  &__button {
    border: none;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    background: #c0c0c0;
  }

  &__buttons {
    margin-bottom: 10px;
  }
}

.form-reg {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  &__row {
    display: flex;
    flex-direction: column;
    margin-bottom: 4px;
    // flex-shrink: 1;
  }

  &__hint {
    margin-bottom: 2px;
  }

  &__input {
    width: 100%;
    height: 25px;
    padding: 0 5px;
    border: none;
    border-radius: 3px;
    outline: none;
    background: #c0c0c0;
  }

  &__controls {
    margin-top: 19px;
    display: flex;
    align-items: end;
    justify-content: space-between;
  }

  &__button {
    background: #cecece;
    border: none;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &:hover {
      background-color: #c0c0c0;
    }
  }

  &__btn-back {
    width: 30px;
    height: 30px;
  }

  &__btn-next {
    width: 90px;
    height: 25px;
  }
}

.confirm-reg {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  &__description {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  &__text {
    font-size: 8px;
  }

  &__controls {
    margin-top: 19px;
    display: flex;
    align-items: end;
    justify-content: space-between;
  }

  &__button {
    background: #cecece;
    border: none;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &:hover {
      background-color: #c0c0c0;
    }
  }

  &__btn-back {
    width: 30px;
    height: 30px;
  }

  &__btn-next {
    width: 90px;
    height: 25px;
  }
}

.form-log {
  display: flex;
  flex-direction: column;
  // justify-content: space-between;
  height: 100%;

  &__main {
    flex-grow: 1;
  }

  &__row {
    display: flex;
    flex-direction: column;
    margin-bottom: 4px;
  }

  &__hint {
    margin-bottom: 2px;
  }

  &__input {
    width: 100%;
    height: 25px;
    padding: 0 5px;
    border: none;
    border-radius: 3px;
    outline: none;
    background: #c0c0c0;
  }

  &__help {
    font-size: 7px;
    margin-top: 11px;
    text-align: center;
  }

  &__description {
    font-size: 7px;
    text-align: center;
  }

  &__controls {
    margin-top: 14px;
    display: flex;
    align-items: end;
    justify-content: space-between;
  }

  &__button {
    background: #cecece;
    border: none;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &:hover {
      background-color: #c0c0c0;
    }
  }

  &__btn-back {
    width: 30px;
    height: 30px;
  }

  &__btn-next {
    width: 90px;
    height: 25px;
  }
}

.form-pass-rec {
  display: flex;
  flex-direction: column;
  height: 100%;

  &__main {
    flex-grow: 1;
  }

  &__row {
    display: flex;
    flex-direction: column;
    margin-bottom: 4px;
  }

  &__hint {
    margin-bottom: 2px;
  }

  &__input {
    width: 100%;
    height: 25px;
    padding: 0 5px;
    border: none;
    border-radius: 3px;
    outline: none;
    background: #c0c0c0;
  }

  &__help {
    font-size: 7px;
    margin-top: 11px;
    text-align: center;
  }

  &__description {
    font-size: 9px;
    margin-bottom: 17px;
  }

  &__controls {
    margin-top: 14px;
    display: flex;
    align-items: end;
    justify-content: space-between;
  }

  &__button {
    background: #cecece;
    border: none;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &:hover {
      background-color: #c0c0c0;
    }
  }

  &__btn-back {
    width: 30px;
    height: 30px;
  }

  &__btn-next {
    width: 90px;
    height: 25px;
  }
}

.form-pass-change {
  display: flex;
  flex-direction: column;
  height: 100%;

  &__main {
    flex-grow: 1;
  }

  &__row {
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
  }

  &__hint {
    margin-bottom: 2px;
  }

  &__input {
    width: 100%;
    height: 25px;
    padding: 0 5px;
    border: none;
    border-radius: 3px;
    outline: none;
    background: #c0c0c0;
  }

  &__help {
    font-size: 7px;
    margin-top: 11px;
    text-align: center;
  }

  &__description {
    font-size: 10px;
    margin-bottom: 10px;
  }

  &__controls {
    margin-top: 14px;
    display: flex;
    align-items: end;
    justify-content: space-between;
  }

  &__button {
    background: #cecece;
    border: none;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &:hover {
      background-color: #c0c0c0;
    }
  }

  &__btn-back {
    width: 30px;
    height: 30px;
  }

  &__btn-next {
    width: 90px;
    height: 25px;
    font-size: 8px;
  }
}

.description {
  width: 100%;
  height: 290px;
  background: #d9d9d9;
  padding: 11px 34px;
  font-size: 12px;
  font-weight: normal;

  &__title {
    margin-bottom: 18px;
  }
}

.footer {
  padding: 18px 42px;
  display: flex;
  background: #d9d9d9;
  justify-content: space-between;
  align-items: end;

  &__contacts {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  &__btns {
    display: flex;
    justify-content: space-between;
    gap: 33px;
  }

  &__btn {
    width: 84px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #cecece;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background .2s;

    &:hover {
      background: #c0c0c0;
    }
  }
}

.socials {
  &__title {
    font-weight: normal;
    margin-bottom: 10px;
  }

  &__items {
    display: flex;
    gap: 16px;
  }

  &__item {
    width: 24px;
    height: 24px;
    background: #cecece;
  }
}

.filter {
  background: #f0f0f0;
  padding: 14px 0;

  &__container {
    display: flex;
    align-items: end;
    justify-content: space-between;
  }

  &__gender {
    display: flex;
    flex-direction: column;
  }

  &__age {
    display: flex;
    flex-direction: column;
  }

  &__hint {
    margin-bottom: 8px;
  }

  &__range-container {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  &__range {
    width: 98px;
    height: 1px;
    background: #d9d9d9;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      width: 7px;
      height: 7px;
      background-color: #fff;
      border: 2px solid #d9d9d9;
      border-radius: 50%;
    }

    &::-moz-range-thumb {
      width: 5px;
      height: 5px;
      -moz-appearance: none;
    }
  }
}

.hidden {
  display: none;
}
