.footer {
    padding: 18px 42px;
    display: flex;
    background: #d9d9d9;
    justify-content: space-between;
    align-items: end;

    &__contacts {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    &__btns {
        display: flex;
        justify-content: space-between;
        gap: 33px;
    }

    &__btn {
        width: 84px;
        height: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #cecece;
        border: none;
        border-radius: 3px;
        cursor: pointer;
        transition: background .2s;

        &:hover {
            background: #c0c0c0;
        }
    }
}

.socials {
    &__title {
        font-weight: normal;
        margin-bottom: 10px;
    }

    &__items {
        display: flex;
        gap: 16px;
    }

    &__item {
        width: 24px;
        height: 24px;
        background: #cecece;
    }
}